/**
 * list of variables used for carousel application
**/
$color-white : white;
$color-skyblue : #00a1de;
$color-black : black;
$color-dark-blue : #112931;
$color-red :red;
$color-light-slategray :rgb(47, 95, 143);
$font-stack : "Lucida Sans Unicode", "Lucida Grande", verdana, arial, sans-serif;

$border-color : $color-skyblue;
$background-default-color : $color-white;
$background-dark-blue : $color-dark-blue;
$carousel-font-family : $font-stack;
$header-text-color-sm : $color-black;
$header-text-color-bg-lg : $color-dark-blue;
$font-color-default : $color-skyblue;
$arrow-color : $color-white;
$info-content-color : $color-black;
$error-text-color : $color-red
