.carousel-header {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: left;
    .logo-wrapper {
        padding-left:.5em;
        display:flex;
        align-content: flex-start;
        .logo {
            width: 3em;
            height: 3em;
        }
      }

}
